@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to right, #8643df, #5E3B8B, #56466c);
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1.title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    display: flex;
    
}

form .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.438);
    color: #ffffff;
    font-size: large;
    font-weight: 500;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

form .button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #9550d5;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
}

form .button:hover {
    background-color: #8643df;
}

.complete-task {
    margin-top: 30px;
    text-align: center;
}

.title-element {
    display: inline-block;
    padding: 5px 10px;
    background-color: #9550d5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

#card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.task-card {
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-card h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

.task-card p {
    margin-bottom: 10px;
}

.delete-button {
    padding: 8px 16px;
    background-color: #ff2600;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #ff544b;
}
